body{
    font-family: "Lato", sans-serif;
    margin:0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

.placeholder {
    background-color: rgb(245, 245, 245);
}

.anotherClass{
    background-color:rgb(226, 225, 226);
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.nav-wrapper-about{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    background-color: rgb(253, 252, 251);
}

.left-side{
    display: flex;
}

.nav-wrapper > .left-side > div{
   margin-right: 20px;
   font-size: 0.9em;
   text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition:border-bottom 0.5s; 
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}

.active-nav-link{
    border-bottom: 1px solid rgb(5, 5, 5);
}

.active-nav-link a{
    color: rgb(5, 5, 5) !important;
}

.brand{
    color: #7a7a7a;
    text-decoration: none;
    transition: color 0.5s;
}

footer{
    align-items: center;
	background-color: #262626;
	bottom: 0;
	color: #666666;
	display: flex;
	font-size: 3em;
	height: 4px;
	justify-content: center;
	position: fixed;
	text-transform: uppercase;
	width: 100%;
    z-index: 1;
    /* https://codepen.io/crianbluff/pen/gVaVoB */
}

.aboutBody{
    background-color: rgb(221, 219, 223);
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width:50%;
    margin-bottom: 20px;
}
.img-text-wrapper .subtitle{
    transition:1s;
    color:transparent;
    font-weight: 600;
}
.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    color: lightseagreen;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img{
    width: 100%;    
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1{
    color: lightseagreen;
}

.profile-content-wrapper div{
    position: relative;
    text-align: center;
    font-weight: 1000;
}